<table id="blog">
	<% @posts.each do |post| %>
		<tr class="post">
			<td class="date">
				<%= post.created_at.to_formatted_s(:nice) %><br /><br />
				<%= post.topic %>
			</td>
			<td class="rest">
				<div class="title"><%= link_to post.title, post %></div>
				<div class="content"><%= post.content %></div>
				<div class="name"><%=  "Posted by #{post.name}" %></div>
				<div class="comments">
					<%= "Comments: #{post.comments.size.to_s}" %></div>
			</td>
		</tr>
	<% end %>
</table>
